src/main/mule/csvtojson.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="c4c0ea2c-2240-4d2b-a9c8-a57084a72438" >
		<file:connection workingDir="D:\employ" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="136b3d9a-f925-4e9d-9850-3bc462b55832" >
		<file:connection workingDir="D:\Batch" />
	</file:config>
	<flow name="csvtojsonFlow" doc:id="42289f08-a9f8-4b1f-92d8-9def295dee21" >
		<file:listener doc:name="On New or Updated File" doc:id="53a630d8-007a-476d-ae68-536d623e0492" config-ref="File_Config">
			<scheduling-strategy >
				<fixed-frequency frequency="2" timeUnit="MINUTES" />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="dcb5c669-ef26-4a0d-9f8a-03f6eab71a70" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="eb8ee6e0-f9d6-4425-942d-e63c95b17e7a" >
			<logger level="INFO" doc:name="Logger" doc:id="158484d8-a49a-44e7-8135-38b53ff5cf82" message="#[payload]"/>
			<file:write doc:name="Write" doc:id="2ef3041f-707e-4235-987a-a1d7f1b9a892" config-ref="File_Config1" path='#[payload.eno ++ ".json"]'/>
		</foreach>
	</flow>
</mule>
